.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

.header__lang-link:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .header__lang-link {
        font-size: calc(18px + 6 * (100vw - 320px) / 448);  /* размер текста будет уменьшаться пропорционально размеру окна до ширины окна в 320рх */
    }
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}