.lead__main-image {
    display: flex;
    flex-direction: column;
}

/* до мин. ширины 1024px, включая ее, боковые отступы будут равны 48px,
   а далее картинка будет стремиться прижаться к краям окна */
@media screen and (min-width: 1024px) {
    .lead__main-image {
        padding: 0 48px;
    }
}